<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ProjectInventory</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/menubar.css" asp-append-version="true"/>
</head>
<body>
<div class="layout-container">
    @await Html.PartialAsync("_MenuBarPartial")

    <div class="content">
        @RenderBody()
    </div>
</div>

<footer class="border-top footer text-muted">
    <div class="container text-center">
        &copy; 2025 - ProjectInventory -
        <a asp-area="" asp-controller="Home" asp-action="Privacy">#Inventory</a>
    </div>
</footer>

<!-- Scripts -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!-- Sidebar toggle -->
@* <script> *@
@*     document.addEventListener("DOMContentLoaded", function () { *@
@*         const sidebar = document.getElementById("sidebar"); *@
@*         const toggleBtn = document.getElementById("sidebarToggle"); *@
@* *@
@*         toggleBtn.addEventListener("click", function () { *@
@*             sidebar.classList.toggle("hidden"); *@
@*         }); *@
@*     }); *@
@* </script> *@
</body>
</html>
